/*  	Spans are inline by default, but I want the time/type to display on the same line
	which is basically inline-block.
	For example:
	[36 days] [4 hours] [46 minutes] [5 seconds]
	The brackets should always appear on the same line. Looks ugly if 5 appears on one line,
	and then seconds appears below it.
*/
.countdown > span {
	display: inline-block;
}

/*
	From Bootstrap's example on Footers:
	https://getbootstrap.com/docs/4.1/examples/sticky-footer/
*/
html {
  position: relative;
  min-height: 100%;
}
/* 	Doesn't seem like margin-bottom is needed with the footer class tweaks I made, it just
	adds scrollbars on full screen.
*/

.footer {
	/* 	display:flex + align-items:center to make the footer text virtually center inside the footer
		https://stackoverflow.com/a/6490283
		position:fixed for fixing the footer to the bottom of the screen
		https://stackoverflow.com/a/8824859
		
		Not setting the height seems to fix the footer text going outside the background color.
	*/
	display: flex;
	position: fixed;
	align-items: center;
	bottom: 0;
	padding: .5em;
	width: 100%;
	background-color: black;
}

/* Style the links */
a {
	font-weight: 600;	/* Bold + Underline for the links */
	text-decoration: underline;
}

/* 	
	Responsive break points for setting a max font-size on the text.
	https://getbootstrap.com/docs/4.1/layout/overview/
	This answer worked: https://stackoverflow.com/a/30517633
*/

/* This covers xs, sm, md, and lg screen sizes - everything from 1px to 1199.98px */
@media (max-width: 1199.98px) {    
    /* 	Responsive text for the top text (h1) and the count down (span)
		https://www.w3schools.com/howto/howto_css_responsive_text.asp
	*/
	h1 {
		font-size: 5.3vw;
	}
	span {
		font-size: 5.0vw;
	}
	
	/* Adjust the size of the footer background via padding */
	.footer {
		padding: 1em;
	}
}

/* This will set a "max" font size, so we don't make the font MASSIVE on 1080P or higher desktop screen. */
@media (min-width: 1200px) {
	h1 {
		font-size: 4.3em;
	}
	span {
		font-size: 4em;
	}
}